/* General */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
/* Header */
header nav {
    background-color: #ffffff;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: relative; 
    z-index: 10; 
}

.logo-img {
    width: 120px;
    height: auto;
}

nav .menu {
    list-style: none;
    display: flex;
    gap: 100px; 
}

nav .menu li {
    position: relative; /
}

nav .menu a {
    color: #000000; 
    text-decoration: none;
    font-size: 20px;
    font-weight: normal; 
    position: center;
}
nav .menu li a {
    color: #000000; 
    text-decoration: none;
    font-size: 20px;
    font-weight: normal; 
    border-bottom: 2px solid transparent; 
    transition: border-color 0.3s ease; 
}

nav .menu li a:hover {
    border-bottom: 2px solid #5F379F;
}


.dropdown {
    display: none;
    position: absolute;
    top: 100%; 
    left: 0;
    background-color: #5F379F;
    color: #ffffff;
    padding: 10px;
    margin-top: 2px; 
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10; 
    width: 160px; 
}
.dropdown li a {
    background-color: #5F379F; 
    color: white; 
    text-decoration: none;
    padding: 10px;
    display: block;
    border: 1px solid black; 
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.dropdown li a:hover {
    background-color: #7351AC; 
    color: white; 
}


.menu li:hover .dropdown {
    display: block; 
}

.dropdown li {
    list-style: none;
}

.dropdown li a {
    color: white;
}

.dropdown li a:hover {
    color: white;
}
/*descripcion*/
.description {
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start; 
    padding: 40px; 
   
}

.description-content {
    max-width: 70%; 
}

.description-content p {
    font-size: 1.2rem; 
    line-height: 1.6; 
    margin-left: 150px; 
    margin-top: -10px;
    
}

.description-image {
    width: 300px; 
    height: auto; 
    margin-right: 240px; 
    margin-left: 0; 
    margin-top: -17px;
    display: inline-block; 
}


/* Botones de autenticación */
.auth-buttons {
    display: flex;
    flex-direction: column;
}

.auth-buttons a {
    background: linear-gradient(135deg, #58D3AE, #5E40A0); 
    color: white; 
    padding: 12px 40px; 
    border-radius: 5px;
    text-decoration: none;
    margin-bottom: 5px;
    text-align: center;
    display: inline-block;
    font-weight: bold; 
    font-size: 16px; 
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.auth-buttons a:hover {
    background: linear-gradient(135deg, #5E40A0, #58D3AE); 
    color: white; 
    transform: scale(1.05); 
}


/* Hero section */
.hero {
    background: linear-gradient(135deg, #67439E, #241838); 
    color: white;
    text-align: center;
    padding: 10px 20px; 
    position: relative;
    height: 300px; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
   
}



.hero .chica {
    width: 120px; 
    height: auto; 
    position: absolute;
    right: 200px;
    bottom: -20px; 
}

.hero .gato {
    height: auto; 
    position: absolute;
    left: -25px; 
    bottom: -20px; 
}


.hero .laptop {
    height: auto;
    position: absolute;
    right: 1px; 
    bottom: -20px;
}

.hero-content {
    margin-bottom: 30px;
}

.hero h1 {
    font-size: 3rem; 
    line-height: 1.5; 
    text-align: center; 
    width: 80%; 
    margin: 0 auto; 
}

.hero h1::after {
    content: "";
    display: block;
}

.btn-hero {
    background-color: #EDD7FF; 
    color: #7B6C81; 
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    position:absolute;
    right: 900px;
    
}
.btn-hero:hover {
    background-color: #7F3FBF; 
    color: white; 
}
.hero-images {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    padding: 20px;
}

.hero-images img {
    width: 200px; 
    height: auto;
}

.hero-girl {
    position: relative;
    bottom: 0;
}

.hero-circle {
    position: relative;
    bottom: 0;
}

.hero-right-small {
    width: 150px; 
    height: auto;
}

/* Features section */
.features {
    text-align: center;
    padding: 40px;
    margin-top: -60px; 
}
.features h2 {
    font-family: 'Aoboshi One', sans-serif; 
    font-size: 36px; 
    font-weight: bold; 
    text-align: left; 
    margin-top: -10px;
    margin-left: 145px;
}

.features-container {
    display: flex;
    justify-content: center;
    gap: 200px;
}

.feature {
    width: 250px;
    text-align: center; 
    
}
.cuadrado {
    
    background-color: white; 
    border-radius: 15px; 
    padding: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 300px;
    margin-left: -40px;
}
.feature h3 {
    margin: 0; 
    font-weight: bold; 
}

.feature p {
    margin: 10px 0 0; 
}


.feature img {
    width: 100%;
    height: auto;
}

/* Contact section */
.contact {
    position: relative;
    padding: 40px;
    text-align: center;
    background-image: url('../IMG/fondo1.png'); 
    background-size: 1920px 459px;
    background-repeat: no-repeat; 
    background-position: center; 
    height: auto;
}


.contact::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(208, 186, 231, 0.6); 
    z-index: 1; 
}

.contact h2, form {
    position: relative;
    z-index: 2;
}
.form-row {
    display: flex;
    justify-content: space-between;
    gap: 30px; 
}

.form-group {
    flex: 1; 
    margin-right: 10px; 
    margin-bottom: 10px; 
}
.form-group:last-child {
    margin-right: 0;
}

form {
    max-width: 500px; 
    margin: 0 auto;
    z-index: 2; 
}


label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #5f4b8b; 
}

input, textarea {
    width: 100%; 
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px; 
    max-width: 500px; 
    height: 150px; 
    resize: none; 
}

button {
    background-color: #EDD7FF; 
    color: #7B6C81; 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    bottom: 20px; 
}
button:hover {
    background-color: #7F3FBF; 
    color: white; 
}


/* Footer */
footer {
    background-color: #412A63;
    color: white;
    padding: 20px;
    text-align: center;
}

footer ul {
    list-style: none; 
    padding: 0;
    margin: 0;
    display: flex; 
    justify-content: center; 
    gap: 40px; 
}


footer a {
    color: white; 
    text-decoration: none; 
    font-weight: bold; 
    font-size: 16px; 
    transition: color 0.3s ease; 
}             
footer a:hover {
    color: #B17FD9; 
}           
.container {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
    padding: 20px; 
}

.feature {
   
    margin: 0 20px; 
    text-align: center; 
}
.img-contact {
    width: 60%; 
    height: auto; 
    display: block;
    margin: 0 auto; 
    border-radius: 8px; 
}
